*{
    padding: 0;
    margin:0;
}
.contenedor-principal{
    background-color:white;
    margin: auto;
    width: 100%px;
    max-width: 1440px;
}
.contenedor-logo{
    width:36px;
    height: 36px;
    margin-left: 5%;
}
#logo{
    width: 36px;
    height: 36px;
}
#label-btn-menu{
    display: none;
}
#btn-menu{
    display: none;
}
.menu li a{
    text-decoration: none;
    color:#060A24;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
}
.menu ul li{
    list-style: none;
    padding: 2px;
    margin-right: 47px;
}
.menu ul{
    display: flex;
}
.menu{
    margin-right: 100px;

}
.encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: green;
}
.menu ul li a:hover{
    color:#00F3BB;
    text-decoration: line-through;
    font-weight: 600;
}
.menu ul li a:active{
    color:#8F060A24;
}
#dot{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 64px;
    
}
#dot::after {
    content: ".";
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 64px;
    color:rgba(0,0,236,1)
}
.podcast{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    max-width: 628px;
}
.contenedor-uno{
    margin-left:11%;
    margin-top:120px;
}
#botonmas{
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    font-size: 18px;
    color: rgba(6,10,36,1);
    background-color: rgba(0,243,187,1);
    height: 56px;
    width: 226px;
    border:0;
    margin-top: 56px;
}
#botonmas:hover{
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color:white;
}
.contenedor-fondo1{
    width: 100%;
    max-width: 1440px;
    height: 1042.6px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    position: absolute;
    z-index: 0;    
}

.item-1{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 48px;
    margin-left: 12%;
    position: relative;
    color:white;
    margin-top:186px;
}

.contenedor-episodios{
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    position: relative;
    margin-top:26px;
    grid-gap:72px;
    margin-left: 5%;
    margin-right: 5%;
}
.item-2{
    grid-column-start: 1;
    grid-row-end: 1;
    width: 100%;
    max-width: 584px;
    height: 100%;
    max-height: 232px;
    
}
.item-3{
    grid-column-start: 2;
    grid-row-end: 1;
    width: 100%;
    max-width: 584px;
    height: 100%;
    max-height: 232px;
    

}
.item-4{
    grid-column-start: 1;
    grid-row-end: 2;
    width: 100%;
    max-width: 584px;
    height: 100%;
    max-height: 232px;
    
}
.item-5{
    grid-column-start: 2;
    grid-row-end: 2;
    width: 100%;
    max-width: 584px;
    height: 100%;
    max-height: 232px;
    
}
.contenedor-women-in-coding{
    display: grid;
    grid-template-columns:200px 458px 468px 100px;
    grid-template-rows: auto;
}
.contenedor-phone{
    width: 457px;
    height: 660px;
    margin-top: 64px;
    margin-left: 200px;
    position: relative;
}
#phone{
    width: 100%;
    height: 100%;
}
.contenedor-phone-texto{
    grid-column-start: 3;
    grid-row-end: 1;
    margin-left: 62.4px;
    margin-top: 253px
}
.contenedor-phone-titulo{
    margin-top:24px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 48px;
    color:rgba(6,10,36,1);
}
.contenedor-phone-parrafo{
    margin-top: 24px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: rgba(6,10,36,1);
    width: 464px;
}
.contenedor-invitadas-titulo{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 48px;
    color:rgba(6,10,36,1);
    margin-top:64px;
    margin-left: 200px;
}
.contenedor-invitadas-imagenes{
    margin-top:36px;
    display: grid;
    grid-template-columns: 480px 480px 480px;
    grid-template-rows: 364px 364px 1;
}
#grace-hopper{
    width: 480px;
    height: 364px;
    display: grid;
    grid-column-start: 1;
    grid-row-end: 1;
}
#katie-bouman{
    width: 480px;
    height: 364px;
    display: grid;
    grid-column-start: 2;
    grid-row-end: 1;
}
#margaret-hamilton{
    width: 480px;
    height: 364px;
    display: grid;
    grid-column-start: 3;
    grid-row-end: 1;
}
#computer{
    width: 480px;
    height: 364px;
    display: grid;
    grid-column-start: 1;
    grid-row-end: 2;
}
#computer-operators{
    width: 480px;
    height: 364px;
    display: grid;
    grid-column-start: 2;
    grid-row-end: 2;
}
#susan-kare{
    width: 480px;
    height: 364px;
    display: grid;
    grid-column-start: 3;
    grid-row-end: 2;
}
.contenedor-temas-titulo{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 48px;
    color:rgba(6,10,36,1);
    margin-top:64px;
    margin-left: 200px;
}
.contenedor-icono1, .contenedor-icono2, .contenedor-icono3, .contenedor-icono4{
    width: 104px;
    height: 104px;
}
#icono1, #icono2, #icono3, #icono4{
    width: 100%;
    height: 100%;

}
.contenedor-iconos{
    display: grid;
    grid-template-columns: 278px 260px 260px 260px 260px 100px;
    grid-template-rows: 130px 1;
    margin-top: 56px;
}
.contenedor-icono1{
    grid-column-start: 2;
    grid-row-end: 1;
}
.contenedor-icono2{
    grid-column-start: 3;
    grid-row-end: 1;
}
.contenedor-icono3{
    grid-column-start: 4;
    grid-row-end: 1;
}
.contenedor-icono4{
    grid-column-start: 5;
    grid-row-end: 1;
    margin-left: -20px;
}
.contenedor-texto-iconos{
    display: grid;
    grid-template-columns:200px 260px 260px 260px 260px 100px;
    grid-template-rows: 130px 1;
    margin-top: 29px;
    margin-left: 50px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color:rgba(6,10,36,1);
    
}
.contenedor-texto-icono1{
    grid-column-start: 2;
    grid-row-end: 1;
    max-width: 220px;
}
.contenedor-texto-icono2{
    grid-column-start: 3;
    grid-row-end: 1;
    max-width: 220px;
}
.contenedor-texto-icono3{
    grid-column-start: 4;
    grid-row-end: 1;
    max-width: 220px;
}
.contenedor-texto-icono4{
    grid-column-start: 5;
    grid-row-end: 1;
    max-width: 220px;
}
.contenedor-novedades-texto{
    margin-top:247px ;
    margin-left: 374px;
}
#novedades-texto{
    color:white;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 48px
}
#boton-episodios{
    font-family: 'IBM Plex Mono', monospace;
    font-style: 18px;
    font-weight: bold;
    color:rgba(6,10,36,1);
    background-color: rgba(0,243,187,1);
    width: 345px;
    height: 56px;
    border:0;
    margin-top: 36px;
    margin-left: 547px;
}
.contenedor-footer-iconos{
    display: flex;
    justify-content: flex-end;
    margin-top: -20px;
    margin-right: 100px;
}
.contenedor-footer-icono{
    width: 18px;
    height: 28px;
    padding-left: 36px;
}
.contenedor-footer-1{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color:rgba(6,10,36,1);
    line-height: 28px;
    padding-left: 36px;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    max-width: 1440px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 167px;
    background-color: white;
    height: 95px;
}
.paledot{
    padding-top: 60px;
    margin-left: 100px;
}
.contenedor-fondo2{
    width: 1440px;
    height:518px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0 26%, 100% 0, 100% 100%, 0% 100%);
    position: absolute;
    top: 3330px;
}
.contenedor-novedades{
    position: relative;
}
@media (max-width:350px)  {
     *{
         width: 100%;
         max-width: 350px;
     }

    .contenedor-principal{
        width:100%;
        max-width: 350px;
    }
    .encabezado{
        background-color: chartreuse;
        width: 100%;
        max-width: 350px;
        height: 44px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }
    .contenedor-logo{
        width: 24px;
        height: 24px;
        margin: 0;
        margin-left: 16px;
    }
    #label-btn-menu{
        display: block;
        margin-right: 19px;
    }
    .menu{
        display: none;
    }
    #dot{
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 36px;
    }
    #dot::after {
        content: ".";
        font-size: 36px;
        color:rgba(6,10,36,1);
    }
    .podcast{
        font-family: 'IBM Plex Mono', monospace;
        font-size: 14px;
        width: 288px;
        margin-top:16px;
    }
    .contenedor-uno{
        height: 200px;
        margin-left:16px;
        margin-top:73px;
    }
    #botonmas{
        font-size: 16px;
        height: 48px;
        width: 288px;
        margin-top: 36px;
    }
    .contenedor-fondo1{
        width: 100%;
        height:1203.5px;
        background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
        clip-path: polygon(0 3%, 100% 0%, 100% 97%, 0 100%);
        position: absolute;
        top: 400px;
    }    
    .item-1{
        font-size: 36px;
        margin-left: -7px;
        margin-top:120px;
        position: relative;
        z-index: 1;
        color:white;
    }
    .contenedor-episodios{
        margin-top: -20px;
        display: grid;
        grid-template-columns:11px auto 11px;
        grid-template-rows: 11px 230px 11px 230px 11px 230px 11px 230px;
        margin-left:0;
        position: relative;
    }
    .item-2{
        grid-column-start: 2;
        grid-row-end: 2;
        width: 298px;
        height: 22px;
        margin-top: 10px;
    
    }
    .item-3{
        grid-column-start: 2;
        grid-row-end: 4;
        width: 298px;
        height: 22px;
        margin-left: 0px;
        margin-top: 11px;
   
    }
    .item-4{
        grid-column-start: 2;
        grid-row-end: 6;
        width: 298px;
        height: 22px;
        margin-top: 11px;
  
    }
    .item-5{
        grid-column-start: 2;
        grid-row-end: 8;
        width: 298px;
        height: 22px;
        margin-left: 0px;
        margin-top: 11px;
    }
    .contenedor-women-in-coding{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contenedor-phone{
        width: 360px;
        height: 519px;
        margin-top: 48px;
        margin-left: 20px;
        position: relative;
    }
    #phone{
        width: 100%;
        height: 100%;
    }
    .contenedor-phone-texto{
        margin-left: 16px;
        margin-top: 27px;
    }
    .contenedor-phone-titulo{
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 36px;
        color:rgba(6,10,36,1);
        max-width: 288px;
        margin-left:16px ;
    }
    .contenedor-phone-parrafo{
        margin-top: 24px;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 14px;
        color: rgba(6,10,36,1);
        max-width: 288px;
    }
    .contenedor-invitadas-titulo{
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 36px;
        color:rgba(6,10,36,1);
        margin-top:54px;
        margin-left: 16px;
    }
    .contenedor-invitadas-imagenes{
        margin-top: 14px;
        display: flex;
        flex-direction: column;

    }
    #grace-hopper, #katie-bouman, #margaret-hamilton, #computer, #computer-operators, #susan-kare{
        width: 320px;
        height: 243px;
    }
    .contenedor-temas-titulo{
        font-size: 36px;
        margin-top:48px;
        margin-left: 16px;
    }
    .contenedor-iconos{
        display: grid;
        grid-template-columns: 108px 104px 108px;
        grid-template-rows: 104px 94px 104px 94px 104px 94px 104px 94px ;
        margin-top: 56px;
    }
    .contenedor-icono1{
        grid-column-start: 2;
        grid-row-end: 1;
    }
    .contenedor-icono2{
        grid-column-start: 2;
        grid-row-end: 3;
    }
    .contenedor-icono3{
        grid-column-start: 2;
        grid-row-end: 5;
    }
    .contenedor-icono4{
        grid-column-start: 2;
        grid-row-end: 7;
        margin-left: 0px;
    }
    .contenedor-texto-iconos{
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: bold;
        font-size: 24px;
        color:rgba(6,10,36,1);
        
    }
    .contenedor-texto-icono1{
        max-width: 288px;
        position: relative;
        left: -178px;
        top: -815px;

    }
    .contenedor-texto-icono2{
        max-width: 288px;
        position: relative;
        left: -438px;
        top: -615px;

    }
    .contenedor-texto-icono3{
        max-width: 288px;
        position: relative;
        left: -700px;
        top: -413px;
    }
    .contenedor-texto-icono4{
        max-width: 288px;
        position: relative;
        left: -1001px;
        top: -215px;
    }
    .contenedor-novedades-texto{
        margin-top: -140px;
        margin-left: 16px;
        text-align: center;
    }
    #novedades-texto{
        color:white;
        width: 288px;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 36px
        
    }
    #boton-episodios{
        font-style: 16px;
        width: 288px;
        height: 48px;
        border:0;
        margin-top: 36px;
        margin-left: 16px;
    }
    .contenedor-footer-iconos{
        display: flex;
        justify-content: flex-end;
        margin-left: -47px;
        margin-top: 16px;
        margin-bottom: 31px;
    }
    .contenedor-footer-icono{
        width: 14px;
        height: 28px;
        margin-left: 0px;
        align-items: space-between;
        padding-left: 40px;
    }
    .contenedor-footer-1{
        font-family: 'IBM Plex Mono', monospace;
        font-size: 14px;
        color:rgba(6,10,36,1);
        line-height: 28px;
        padding-left: 0px;
    }
    .paledot{
        padding-top: 24px;
        margin-left: 47px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        max-width: 350px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 59px;
        background-color: white;
        height: 121px;
        position: relative;
    }
    .contenedor-fondo2{
        width: 100%;
        height:341px;
        background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
        position: absolute;
        top: 5000px;
    }

}